*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    color: white;
    height: 100vh;
    padding-top: 3vh;
    background-image: url(./../sakura/header-bg-1.jpg);
}
.left img{
    width: 100%;
}
.right img{
    height: 35px;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.left{
    width: 50%;
    display: inline-block;
}
.right{
    width: 49%;
    display: inline-block;
    text-align: right;
}
header{
    height: 10vh;
    margin-bottom: 5vh;
}
main{
    height: 70vh;
    border: 35px solid gold;
    text-align: center;
    padding-top: 10vh;
}
main div img{
    height: 25px;
    vertical-align: middle;
}
main div img{
    font-size: 1.3em;
}
main p{
    margin-bottom: 5vh;
}
main div{
    margin-bottom: 3vh;
}
main button{
    background-color: gold;
    padding: 10px 15px;
    border: none;
}
.gold{ 
    color: gold;
}
.item{
width: 33%;
display: inline-block;
text-align: center;
}
.item img{
    width: 100px;
}
.lokation .container>h1 {
    padding: 5vh 0;
}
.lokation p{
    margin-bottom: 5vh;
}
.aLeft{
    width: 50%;
    display: inline-block;
    margin-right: 4%;
}
.aLeft img{
    width: 100%;
}
.aRigth {
    width: 45%;
    display: inline-block;
    position: relative;
}
.aRigth p{
    margin-bottom: 20px;
}
.apartment{
    margin: 25px 0;
}
.ramka {
    border: 10px solid gold;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -100px;
    right: 20px;
}
.slaid{
    height: 100vh;
}
.slaid img{
    width: 100%;
}
.eleft{
    width: 50%;
    display: inline-block;
}
.eRight{
    width: 49%;
    display: inline-block;
}
.element img{
    height: 30px;
}
.element span{
    display: inline-block;
    padding-left: 15px;
    vertical-align: super;
}
.element{
    margin: 10px 0;
}
.advantages button{
    background-color: gold;
    padding: 10px 0;
    border: none;
}
.advantages{
    text-align: center;
    padding: 10vh 0;
}
.form{
    color: white;
    height: 88vh;
    background-image: url(./../sakura/fon_ost-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15vh;
}
.form .bottom{
    margin-top: 10vh;
    text-align: center;
}
.form input{
padding: 10px 15px;
width: 80%;
display: inline-block;
margin-top: 15px;
}
.form .top .right{
    text-align: left;
    padding-left: 10%;
}
.form input[type="submit"]{
    background-color: gold;
    border: none;
}
.second .container{
    width: 40%;
    text-align: center;
}















































































































































